.banner {
    margin: 150px 0 50px 0;
    height: 560px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 80px;
    position: relative;
    top: 0;
    bottom: 0;
    transition: ease-in-out 0.5s;
    -moz-animation: forwards 1.5s bannerIn;
    animation: forwards 1.5s bannerIn;
    -webkit-animation: forwards 1.5s bannerIn;
    -o-animation: forwards 1.5s bannerIn;

    &__res {
        padding: 150px 20px 0px 20px;
        position: relative;
        top: 0;
        bottom: 0;
        transition: ease-in-out 0.5s;
        -moz-animation: forwards 1.5s bannerIn;
        animation: forwards 1.5s bannerIn;
        -webkit-animation: forwards 1.5s bannerIn;
        -o-animation: forwards 1.5s bannerIn;

        &--text {
            padding: 30px 20px;

            &--title {
                @include title_res;
                text-align: center;
            }
            &--subtitle {
                @include subtitle_res;
                text-align: center;
                margin-top: 10px;
            }
            &--more {
                font-family: $primary-font;
                color: $red-color;
                font-size: $mob-text-size;
                text-align: center;
            }
        }
    }

    &__phone {
        width: 100%;
        height: 300px;       
        background-size: cover;
        background-position: center top;
        opacity: 0;
        transition: ease-in-out 0.5s;
        -moz-animation: forwards 1.5s bannerContentIn 1s;
        animation: forwards 1.5s bannerContentIn 1s;
        -webkit-animation: forwards 1.5s bannerContentIn 1s;
        -o-animation: forwards 1.5s bannerContentIn 1s;
    }

    &__grey-block {
        width: 30%;
        height: 300px;
        background: $grey-color;
        position: relative;
        z-index: -1;
        margin-top: -300px;
        opacity: 0;
        left: 0;
        transition: ease-in-out 0.5s;
        -moz-animation: forwards 1.5s bannerIn;
        animation: forwards 1.5s bannerIn;
        -webkit-animation: forwards 1.5s bannerIn;
        -o-animation: forwards 1.5s bannerIn;
    }

    &__container {
        width: 50%;

        &--title {
            @include title;
            color: $white-color;
            opacity: 0;
            transition: ease-in-out 0.5s;
            -moz-animation: forwards 1.5s bannerContentIn 1.5s;
            animation: forwards 1.5s bannerContentIn 1.5s;
            -webkit-animation: forwards 1.5s bannerContentIn 1.5s;
            -o-animation: forwards 1.5s bannerContentIn 1.5s;
        }

        &--subtitle {
            @include subtitle;
            margin-bottom: 40px;
            color: $white-color;
            opacity: 0;
            transition: ease-in-out 0.5s;
            -moz-animation: forwards 1.5s bannerContentIn 1.8s;
            animation: forwards 1.5s bannerContentIn 1.8s;
            -webkit-animation: forwards 1.5s bannerContentIn 1.8s;
            -o-animation: forwards 1.5s bannerContentIn 1.8s;
        }

        &--button {
            font-family: $primary-font;
            color: $white-color;
            font-size: $text-size;
            padding: 10px 20px;
            background-color: $red-color;
            cursor: pointer;
            font-weight: 700;
            border-radius: 10px;
            transition: ease-in-out 0.5s;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.85);
            opacity: 0;
            transition: ease-in-out 0.5s;
            -moz-animation: forwards 1.5s bannerContentIn 2s;
            animation: forwards 1.5s bannerContentIn 2s;
            -webkit-animation: forwards 1.5s bannerContentIn 2s;
            -o-animation: forwards 1.5s bannerContentIn 2s;
        }

        &--button:hover {
            opacity: 0.8;
        }
    }
}

@keyframes bannerIn {
    from {bottom: -100px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@-moz-keyframes bannerIn {
    from {bottom: -100px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@-webkit-keyframes bannerIn {
    from {bottom: -100px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@-o-keyframes bannerIn {
    from {bottom: -100px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@keyframes bannerContentIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes bannerContentIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes bannerContentIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-o-keyframes bannerContentIn {
    from {opacity: 0;}
    to {opacity: 1;}
}