.contact {
    padding: 100px 0 100px 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    bottom: -300px;
    position: relative;
    transition: ease-in-out 0.5s;
    animation: 2s contactIn forwards;
    -moz-animation: 2s contactIn forwards;
    -webkit-animation: 2s contactIn forwards;
    -o-animation: 2s contactIn forwards;
    &__text {
        h1 {
            @include title;
            text-align: center;
        }

        p {
            @include subtitle;
            font-weight: 200;

            a {
                color: $black-color;
                text-decoration: underline;
            }
        }

        &--buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            img {
                width: 35px;
                height: 35px;
                margin: 5px;
                transition: ease-in-out 0.5s;
            }

            img:hover {
                opacity: 0.6;
            }
        }
    }
}

.contact-res {
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: center;
    transition: ease-in-out 0.5s;

    &__text {
        h1 {
            @include title_res;
            text-align: center;
        }

        p {
            @include subtitle_res;
            font-weight: 200;

            a {
                color: $black-color;
                text-decoration: underline;
            }
        }

        &--buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            img {
                width: 35px;
                height: 35px;
                margin: 5px;
                transition: ease-in-out 0.5s;
            }

            img:hover {
                opacity: 0.6;
            }
        }
    }
}

@keyframes contactIn {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@-moz-keyframes contactIn {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@-o-keyframes contactIn {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@-webkit-keyframes contactIn {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}