footer {
    background-color: $grey-color;
    width: 100%;
    padding: 10px 0;

    h1 {
        font-family: $secundary-font;
        font-size: $text-size;
        text-align: center;
        margin: 0;
    }
}